* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.container {
  width: 100%;
}

.menu {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 15px 10%;
  
  }
  
  
  .menu .logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(165, 16, 16);
    font-size: 50px;
    font-weight: 300; 
    cursor: pointer; 
    
  }
  
  
  .bar ul li{
    list-style: none;
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    font-weight: 500;
    cursor: pointer;
   
    
  }
  .bar ul li a {
    text-decoration: none;
    color: rgb(129, 0, 0);
    font-size: 20px;
    font-weight: bold;
    padding: 4px;
    border-radius: 20%;
    transition: all 1s ease;
    
  }
  .bar ul li a:hover{
    color: black;
  }
  
  #menu-icon {
    display: none;
  }
  /* end nav bar */
  
  #activepage {
    font-weight: bolder;
    color: rgb(112, 109, 109);
  }
  /* end activepage button  */




body {
  background-color: black;
  color: white;
}
.container{
  margin-top: 100px;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 1px solid rgb(129, 0, 0);
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 6px rgb(235, 232, 219);
  margin-top: 20px;



}
h1 {
  text-align: center;
  font-size: x-large;
  margin-top: 14px;
  margin-bottom: 14px;
}

table {
  border-collapse: collapse;
  width: 60%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  color: rgb(122, 33, 33);
  line-height: 1.5;


}
span {
  color: aliceblue;
 
}

.first {
  text-align: left;
  padding-left: 0;

}

.second {
  text-align: right;
  padding-right: 0;
}
footer {
  display: block;
height: 100px;
text-align: center;

}
.footp {
padding-top: 40px;
}
#menu-icon {
  display: none;
  margin: 0;
  border: none;
 
}
.show-menu {
  top: 70px;

}
/*---- Media Queries for navbar ----*/

@media only screen and (max-width:600px){
  .bar ul {
    position: absolute;
    width: 100%;
    background-color: black;
    color: #da1919;
    left: 0;
    top: 100%;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  .bar ul.show-menu{
    max-height: 200px;
  }
  .nav-btn {
    display: none;
  }
  nav.logo {
    width: 150px;
  }
  nav ul li {
    margin: 10px;
    font-size: 14px;
  }
  #menu-icon {
    display: block;
    width: 50px;
    height: 50px;
  }
  .bar ul.show-menu {
    max-height: 200px;
    top: 80px;
   
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 15px 10%;
    background-color: rgb(0, 0, 0); /* keep it invisible */
    
  }
}

@media only screen and (max-width:600px){
  .container {
    margin-top: 30%;
  }
}
 