
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
background: black;
min-height: 80vh;
overflow: hidden;
}
.menu {
width: 100%;
position: fixed;
display: flex;
align-items: center;
justify-content: space-between;
top: 0;
left: 0;
z-index: 10;
padding: 15px 10%;

}


.menu .logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(165, 16, 16);
  font-size: 50px;
  font-weight: 300; 
  cursor: pointer; 
  
}


.bar ul li{
  list-style: none;
  list-style: none;
  display: inline-block;
  margin: 10px 20px;
  font-weight: 500;
  cursor: pointer;
 
  
}
.bar ul li a {
  text-decoration: none;
  color: rgb(129, 0, 0);
  font-size: 20px;
  font-weight: bold;
  padding: 4px;
  border-radius: 20%;
  transition: all 1s ease;
  
}
.bar ul li a:hover{
  color: black;
}

#menu-icon {
  display: none;
}
/* end nav bar */

#activepage {
  font-weight: bolder;
  color: rgb(112, 109, 109);
}
/* end activepage button  */
.middle {
 margin-top: 200px;
 text-align: center;
}

.middle h1{
  font-style: inherit;
  color:  rgb(146, 5, 5);
  font-weight: bolder;
  font-size: 12vw;
  line-height: 0.9;


  }

/* end middle line */

button {
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(217, 6, 6, 0.3);
  backdrop-filter: blur(5px) ;
  padding: 10px 20px;
  border-radius: 2px;
  font-size: 20px;
  cursor: pointer;
  color: rgb(146, 5, 5);
  transition-duration: 0.9s;
  font-family: 'Times New Roman', Times, serif;
}

button:hover {
  background-color: rgb(165, 16, 16);
  color: white;

}
.last {
  text-align: center;
  margin-top: 100px;
  bottom:0;

  
}
/* end next page */

/*---- Media Queries for navbar ----*/

@media only screen and (max-width:600px){
  .bar ul {
    position: absolute;
    width: 100%;
    color: #da1919;
    left: 0;
    top: 100%;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  .bar ul.show-menu{
    max-height: 200px;
   
  }
  .nav-btn {
    display: none;
  }
  nav.logo {
    width: 150px;
  }
  nav ul li {
    margin: 10px;
    font-size: 14px;
  }
  #menu-icon {
    display: block;
    width: 50px;
    
    
  }
  .bar ul.show-menu {
    max-height: 200px;
    top: 80px;
  }
    
  
}

/*---- Media Queries for header content ----*/

@media only screen and (max-width:600px){
  .middle {
    text-align: center;
    margin-top: 50%;
  }
  .last {
    margin-top: 50%;
   

  }
}

